<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxx.home.mapper.CourseManageMapper">

    <select id="queryList" parameterType="java.lang.String" resultType="com.sxx.framework.domain.course.dto.CourseListDTO">
        select c.course_id,c.course_title,c.course_sub_title,c.course_image,c.course_activity_price,c.course_original_price
        from course c
        <if test="courseTitle != null and courseTitle != '' and courseTitle != 'undefined'">
          where
          c.course_title LIKE CONCAT(CONCAT('%',#{courseTitle},'%'))
        </if>
        ORDER BY
        c.course_public_time DESC
    </select>

    <resultMap id="teachplanMap" type="com.sxx.framework.domain.course.ext.TeachplanNode">
        <id column="one_id" property="id" />
        <result column="one_name" property="pName" />
        <collection property="children" ofType="com.sxx.framework.domain.course.ext.TeachplanNode">
            <id column="two_id" property="id" />
            <result column="two_name" property="pName" />
            <collection property="children" ofType="com.sxx.framework.domain.course.ext.TeachplanNode">
                <id column="three_id" property="id" />
                <result column="three_name" property="pName" />
                <result column="media_url" property="mediaUrl"/>
            </collection>
        </collection>

    </resultMap>
    <select id="findTeachplanList" parameterType="java.lang.String" resultMap="teachplanMap">
        SELECT
        a.id one_id,
        a.p_name one_name,
        b.id two_id,
        b.p_name two_name,
        c.id three_id,
        c.p_name three_name,
        m.media_url
        FROM
        teachplan a
        LEFT JOIN teachplan b ON a.id = b.parent_id
        LEFT JOIN teachplan c ON b.id = c.parent_id
        LEFT JOIN teachplan_media m ON c.id = m.teachplan_id
        WHERE
        a.parent_id = '0'
        AND a.course_id = #{courseId}
        ORDER BY
        a.order_by,
        b.order_by,
        c.order_by
    </select>
</mapper>