.core{
    margin-top: 2.4rem;
    width: 100%;
    padding: 0.2rem 0.24rem;
    box-sizing: border-box;
}
.core .core-title{
    padding-top: 0.2rem;
    border-bottom: 0.02rem solid #4e8cee;
    width: 3.91rem;
    color: #666666;
    flex-wrap: nowrap;
    display: flex;
}
.core-title .why{
    font-size: 0.32rem;
    font-weight: bold;
    height: 0.6rem;
    line-height: 0.6rem;
    white-space: nowrap;
}
.core .core-title .plus{
    height: 0.6rem;
    line-height: 0.6rem;
    color: #4e8cee;
    font-size: 0.385rem;
    white-space: nowrap;
}
.core .core-content{
    margin-top: 0.5rem;
    width: 5.5rem;
}
.core .img{
    width: 100%;
    height: 3.8rem;
}
.core .pic{
    display: flex;
    flex-wrap: nowrap;
}
.core .pic .course{
    display: block;
    margin: 0 auto;
    width: 1.7rem;
    height: 1.7rem;
    background-color: whitesmoke;
    /*border: 1px solid red;*/
    -moz-border-radius: 0.85rem;
    -webkit-border-radius: 0.85rem;
    border-radius: 0.85rem;
    box-shadow: 0rem 0rem 0.18rem rgba(0,0,0,.20);
}
.core .pic .resource{
    display: block;
    margin: 0 auto;
    width: 1.7rem;
    height: 1.7rem;
    background-color: whitesmoke;
    /*border: 1px solid red;*/
    -moz-border-radius: 0.85rem;
    -webkit-border-radius: 0.85rem;
    border-radius: 0.85rem;
    box-shadow: 0rem 0rem 0.18rem rgba(0,0,0,.20);
}
.core .pic .quality{
    display: block;
    margin: 0 auto;
    width: 1.7rem;
    height: 1.7rem;
    background-color: whitesmoke;
    /*border: 1px solid red;*/
    -moz-border-radius: 0.85rem;
    -webkit-border-radius: 0.85rem;
    border-radius: 0.85rem;
    box-shadow: 0rem 0rem 0.18rem rgba(0,0,0,.20);
}
.core .pic .box{
    flex: 1;
}
.core .pic .box .tip{
    text-align: center;
    margin-top: 0.15rem;
    font-size: 0.24rem;
}
.core .content{
    margin-top: 1rem;
    position: relative;
    height: 5rem;
}
.core .content .num{
    position: absolute;
    font-size: 0.22rem;
}
.numContent{
    position: absolute;
    top: 0.3rem;
    z-index: 1;
}
.core .content .num-ext{
    font-size: 0.22rem;
    margin-top: 0.3rem;
}
.core .img2{
    z-index: 0;
    position: absolute;
    right: 0rem;
    width: 90%;
}
