<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>思学行</title>

    <link rel="stylesheet" th:href="@{../css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../css/swiper.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/init.css}"/>
    <link rel="stylesheet" th:href="@{../css/common.css}">
    <link rel="stylesheet" th:href="@{../css/teaching/teaching.css}">
    <script th:src="@{../js/utils/jquery.1.9.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../js/utils/swiper.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../js/utils/pm.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{../js/common.js}" type="text/javascript" charset="utf-8"></script>
</head>
<body style="visibility: hidden">
<!--页头-->
<div class='header-container'>

    <div class="header-logo">
        <img class="logo" th:src="@{/images/logo.png}" alt=""/>
        <img class="header-text" th:src="@{/images/headertext.png}" alt=""/>
        <img class="menu-btn" th:src="@{/images/menubtn.png}" alt=""/>
        <ul class="menu-container">
            <li><a th:href="@{/index.html}">首页<span>></span></a></li>
            <li><a th:href="@{/pages/hot.html}">热门课程<span>></span></a></li>
            <li><a th:href="@{/pages/core.html}">核心优势<span>></span></a></li>
            <li><a href="http://www.sixuexing.com:32000/teaching/showTeacherList" >授课导师<span>></span></a></li>
            <li><a href="http://www.sixuexing.com:32000/mobile/getMobileNewsList">思学行动态<span>></span></a></li>
            <li><a th:href="@{/pages/invite.html}" >人才招聘<span>></span></a></li>
            <li><a th:href="@{/pages/aboutUs.html}">关于我们<span>></span></a></li>
        </ul>
    </div>
    <div class="banner-container">
        <img th:src="@{/images/banner1.png}" alt="">
    </div>
</div>

<!--内容-->
<div class="teaching">
    <div class="title">
        授课导师
        <p class="title-sub">
            专家大牛，全面授课
        </p>
    </div>
    <div class="case" th:each="teacher:${teacherDTOList}">
        <div class="info" >
            <div class="box">
                <img src="../static/images/teaching/a.png" th:src="${teacher.teaImage}" alt="" class="head">
                <div class="box-content">
                    <span class="cname" th:text="${teacher.teaCname}">张小松</span>
                    <div class="position" th:text="${teacher.teaJob}">教务资深顾问</div>
                    <div th:each="map : ${teacher.teaAchievement}">
                        <span class="teachName" th:text="${map.value}">长江学者特聘教授</span>
                        <!--<div th:if="${map['b']} != null">-->
                            <!--<span class="teachName" th:text="${map['b']}"></span>-->
                        <!--</div>-->
                    </div>
                    <span class="area" >擅长领域：<span th:text="${teacher.teaArea}"></span></span>
                </div>
            </div>
            <div class="jianjie">简介：</div>
            <div class="jianjie-content" th:text="${teacher.teaDesc}">国家重点研发计划网络空间安全专项首席科学家，2017国家十大网络安全优秀人才，电子科技大学网络空间安全研究中心主任，政府治理大数据应用技术国家工程实验室技术专家委员会副主任，国防科技工业网络安全创新中心专家委员会委员，教育部科技委国防学部委员，四川省学术技术带头人。长期致力于网络信息技术安全领域的基础研究和技术攻关，成果在应用中取得重要的社会和经济效益。
            </div>
        </div>
    </div>
    <div class="blank"></div>
</div>

<!--页尾-->
<div class="footer-container">
    <div class="box">
        <span>联系我们</span>
        <div class="text">地址：成都高新区吉泰五路88号香年广场T3栋14楼</div>
        <div class="text">企业邮箱：sxx@sixuexing.com</div>
        <div class="text" style="margin-bottom: 0.2rem;">企业QQ：2507819723</div>
        <span>服务热线</span>
        <i>400-000-0000</i>
        <div class="text">咨询时间：09：00-18：00</div>
    </div>
    <div class="box">
        <span>关注公众号</span>
        <img th:src="@{/images/footer/publicNum.png}" alt="">
        <div class="zixun">动态和资讯都在这里</div>
    </div>
</div>
<div class="bottomText">
    <p class="text">Copyright 2018sixuexing.com All Rights Reservde成都思学行教育科技有限公司
        蜀ICP备18033964号</p>
</div>
<div class="bottomBtn">
    <!--<a class="btn-box" href="mqqwpa://im/chat?chat_type=wpa&uin=2507819723&version=1&src_type=web&web_src=oicqzone.com" target="_blank">-->

    <a class="btn-box" href="http://wpa.qq.com/msgrd?v=3&uin=2507819723&site=qq&menu=yes">
        <img th:src="@{/images/footer/online.png}" alt="">
        <div class="text">在线咨询</div>
    </a>
    <div class="btn-box">
        <img th:src="@{/images/footer/baoming.png}" alt="">
        <div class="text">点击报名</div>
    </div>
    <a class="btn-box" href="tel:028-8525-3153">
        <img th:src="@{/images/footer/server.png}" alt="">
        <div class="text">咨询热线</div>
    </a>
</div>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000, //可选选项，自动滑动
        pagination: '.swiper-pagination',
        paginationType: 'bullets',
    })
</script>
</body>
</html>
