<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxx.manage.mapper.DynamicMapper">
    <update id="update" parameterType="com.sxx.framework.domain.dynamic.Dynamic" >
        UPDATE t_dynamic
        <trim prefix="set" suffixOverrides=",">
            <if test="typeId!=null">typeId=#{typeId},</if>
            <if test="title!=null">title=#{title},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
            <if test="typeName!=null">typeName=#{typeName},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="findNewsList" resultType="com.sxx.framework.domain.dynamic.Dynamic">
        SELECT
            t.typeName,
            t.typeId,
            d.id,
            d.title,
            d.content,
            d.createTime,
            d.image
        FROM
            t_type t,
            t_dynamic d
        WHERE
            t.typeId = d.typeId
        AND d.typeId = #{typeId}
        <if test="name != null and name != ''">
            AND d.title LIKE CONCAT(CONCAT('%',#{name},'%'))
        </if>
        ORDER BY
	  d.createTime DESC
    </select>
</mapper>